//FONT
$default-font-size: 1.6rem;

//COLORS
$color-primary: #1797ce;
$color-secondary-medium: #2DABE3;
$color-teritiary-dark: #0c6388;
// $color-primary: #7ed56f;
// $color-secondary-medium: #55c57a;
// $color-teritiary-dark: #28b473;

$color-secondary-light: #ffb900;
$color-secondary-dark:#ff7730;

$color-teritiary-light: #2998ff;
$color-teritiary-light-1:#5643fa;

$color-grey-1: #e6e6e6;
$color-grey-2: #ffffff;
$color-grey-3:#3f3f3f;

$color-grey:#808181;
$color-white: #fff;
$color-black: #000;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
