.footer{
    margin:o;
    background-color: $color-grey-3;
    // padding: 10rem 0;
    color: $color-grey-1;
    font-size: 1.5rem;
    // padding-bottom: 10rem;

    @include respond(tab-port) {
        // padding: 8rem 0;
    }
    

    &__logo-box{
        text-align: center;
        margin-bottom: 8rem;
        padding: 10rem;
        width: 100%;     
        height: auto;
    }

    &__logo{
        width: 15rem;
        height: auto;
    }

    &__navigation{
        border-top: 1px solid $color-grey-1;
        display: inline-block;

        @include respond(tab-port){
            width: 100%;
            text-align: center;
        }

    }

    &__list{
        list-style: none;
        margin-left: -4rem;
    }

    &__item{
        display: inline-block;
        
        
        
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link{
        &:link,
        &:visited{
            background-color: $color-grey-3;
            color: $color-grey-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .3s;
        }

        &:hover,
        &:active{
            color:$color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright{
        color: $color-grey-1;
        border-top: 1px solid $color-grey-1;
        padding-top: 2rem;
        float: right;
        width: 85%;

        @include respond(tab-port){
            width: 100%;
            float: none;
        }
    }

    .footer-grid {
        background-color: $color-grey-3;
        display: grid;
        // grid-template-columns: 1fr 2fr;
        grid-template-areas: 'cont form';

        @include respond(phone-port){
                grid-template-areas: 'cont'
                                     'form';
        }

        & .book__form {
            grid-area: cont;
            border-right: 1px solid #333;

            & .form {
                @include respond(tab-port){
                    overflow-x: hidden;
                }
            }
        }

        & .contact-info {
            font-family: "lato",sans-sarif;
            display:grid;
            justify-items: center;
            align-items: center;
            grid-area: form;
            padding: 6rem 3rem 0 3rem;

            @include respond(tab-port){
                padding: 6rem 3rem 6rem 3rem;
            }
            
            @include respond(phone){
                padding: 5rem 3rem 6rem 1rem;
            }

            & .book__heading {
                width: 100%;
            }
        }

        & .contact-details-item {
            display: flex;
            // justify-content: center;
            gap: 2rem;
            align-items: center;
            letter-spacing: 3px;

            @include respond(phone){
                letter-spacing: 2px;
            }

            & i {
                font-size: 16px;
            }
            

            & h3 {
                transition: all .3s;

                &:hover {
                    background-color: rgb(255, 255, 255);
                    color: #3b5999
                }
            }
        }
    }

    .footer-social {
       display: grid;
       grid-template-columns: repeat(5,1fr);
       justify-items: center;

        & a {
            color: #fff;
            font-size: 2rem;
            transition: all .3s;
            width: 50%;
            text-align: center;
        }
        .fbk:hover {
            color: #3b5999;
        }
        .insta:hover {
            color: #e4405f;
        }
        .twitter:hover {
            color: #55acee;
        }
        .gmail:hover {
            background: linear-gradient(45deg, #8e36e0 0%, #164b92 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .whatsapp:hover {
            color: #25D366;
        }
    }

}
