.header{
    height: 95vh;
    background-image: linear-gradient(to right bottom,
    #1797ce8c, #0c638800),url(../../img/nat-11.jpg);
    background-size: cover;
    background-position: top;
    position: relative;

    // &__background {
    //     z-index: -10;
    //     position: fixed;

    //     & img {
    //         width: 100%;
    //         height: auto;
    //     }
    // }


    // -webkit-clip-path: polygon(0 0,100% 0,100% 75%,0 100%);
    // clip-path: polygon(0 0,100% 0,100% 75%,0 100%);

    @media (min-resolution:192dpi) and (min-width: 37.5em),
    (-weblit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
           (min-width: 125em) {
            background-image: linear-gradient(to right bottom,
            rgba(0, 117, 45, 0.801), rgba(236, 255, 244, 0.801)),
            url(/img/travel-andaman1/1.jpg);
    }

    @include respond(phone){
        // -webkit-clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
        // clip-path: polygon(0 0,100% 0,100% 85vh,0 100%);
    }
    
    &__logo-box{
        z-index:99999;
        position: fixed;
        width: min-content;
        // background-color: #ffffff;
        // position:absolute;
        top: 4rem;
        left: 4rem;

        @media only screen and (max-width: 900px) {
            top: 3rem;
            left: 2rem;
        }
    }

    &__logo{
        height:auto;
        width: 80px;

        @media only screen and (max-width: 900px) {
            width: 60px;
        }
    }
    
    &__text-box{
        position: absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
    }

    @media only screen and (max-width: 1200px) {
        &__text-box {
            top: 50%;
        }
    }
    
}





