.feature-box{
    // background-color: rgba($color-primary, .6);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    // box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    z-index: 10;
    transition: all .3s;
    

    &__icon{
        width: 40%;
        margin-bottom: 5rem;
    }

    &__text{
        text-align: justify;
        font-size: 16px;

        // @include respond(phone) {
        //     text-align:center
        // }
    }

    &:hover{
            transform: scale(1.05) translateY(-.7rem);
            box-shadow: 0 2.5rem 4rem rgba($color-black,.5);
            z-index: 20;
            cursor: pointer;
    }
}


.slick-slider .element{
    height:100%;
    width:auto;
    // background-color:#000;
    // color:#fff;
    // border-radius:5px;
    display:inline-block;
    margin:0px 10px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    // font-size:20px;
  }
